@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #121e36; /* Navy blue from logo */
  --color-background-cream: #f4efeb; /* Cream from logo background */
  --color-primary-light: #1b2c4d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-cream);
  color: var(--color-primary);
}
